div(class='isso-postbox')
    div(class='form-wrapper')
        section(class='auth-section')
            p(class='input-wrapper')
                input(type='text' name='author' placeholder=i18n('postbox-author')
                      value=author !== null ? '#{author}' : '')
        div(class='textarea-wrapper')
            div(class='textarea placeholder' contenteditable='true')
                = i18n('postbox-text')
            p(class='post-action')
                input(type='submit' value=i18n('postbox-submit'))
